.header__container {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  margin: 0;
  padding: 18px 5.47% 18px;
}

.header__container_type_register {
  margin: 0 auto;
  padding: 70px 0px 40px 0;

  max-width: 396px;
}

.header__container_type_main {
  background-color: rgba(7, 48, 66, 1);
}

@media all and (max-width: 800px) {
  .header__container {
    justify-content: space-between;
  }
}
