.about-me__container {
  display: grid;
  grid-template-columns: 3fr 2fr;
  grid-template-rows: repeat(5, auto);
  margin: 0;
  padding: 0 5.47% 0;
  background-color: rgba(32, 32, 32, 1);
}

.about-me__title {
  margin: 110px 0 70px 0;
  padding: 0 0 23px 0;
  letter-spacing: -0.04em;
  border-bottom: 1px solid rgba(218, 218, 218, 1);
  font-family: 'Inter', 'Arial', sans-serif;
  font-size: 22px;
  font-weight: normal;
  line-height: 27px;
  grid-column: 1/3;
}

.about-me__subtitle {
  margin: 0 0 18px 0;
  letter-spacing: -0.04em;
  font-family: 'Inter', 'Arial', sans-serif;
  font-size: 50px;
  font-weight: normal;
  font-style: normal;
  line-height: 58px;
}

.about-me__info {
  margin: 0 0 26px 0;
  font-family: 'Inter', 'Arial', sans-serif;
  font-size: 18px;
  font-weight: 500;
  font-style: normal;
  line-height: 20px;
}

.about-me__text {
  margin: 0 0 99px 0;
  font-family: 'Inter', 'Arial', sans-serif;
  font-size: 14px;
  font-weight: normal;
  font-style: normal;
  line-height: 22px;
}

.about-me__links {
  display: flex;
  flex-direction: row;
  margin: 0 0 100px 0;
  padding: 0;
  list-style: none;
}

.about-me__link {
  margin: 0 20px 0 0;
}

.about-me__link:last-of-type {
  margin: 0;
}

.about-me__image {
  border-radius: 10px;

  grid-column: 2;
  grid-row: 2/6;
  justify-self: end;
}

@media all and (max-width: 1040px) {
  .about-me__title {
    margin: 110px 0 66px 0;
  }

  .about-me__subtitle {
    margin: 0 0 16px 0;
    font-size: 40px;
    line-height: 40px;
  }

  .about-me__info {
    margin: 0 0 20px 0;
    font-size: 12px;
    line-height: 18px;
  }

  .about-me__text {
    font-size: 12px;
    line-height: 18px;
  }

  .about-me__links {
    margin: 0 0 90px 0;
  }
}

@media all and (max-width: 670px) {
  .about-me__container {
    display: flex;
    flex-direction: column;
    padding: 0 4.4% 0;
  }

  .about-me__title {
    margin: 70px 0 60px 0;
    padding: 0 0 28px 0;
    letter-spacing: -0.04em;
    font-size: 18px;
    line-height: 22px;
  }

  .about-me__subtitle {
    order: 2;
    margin: 0 0 20px 0;
    font-size: 30px;
    line-height: 36px;
  }

  .about-me__image {
    order: 1;
    margin: 0 0 40px 0;
  }

  .about-me__info {
    order: 3;
    font-size: 11px;
    line-height: 16px;
  }

  .about-me__text {
    order: 4;
    margin: 0 0 40px 0;
    font-size: 11px;
    line-height: 16px;
  }

  .about-me__links {
    order: 5;
    margin: 0 0 69px 0;
  }

  .about-me__link {
    margin: 0 20px 0 0;
  }
}
